{% extends 'bottler/base.html' %}
{% block title %}ボトラーAI{% endblock %}

{% block content %}
<div>
    <h3 class="mt-4 mb-5 border_bottom">AIメーカーへのリクエスト</h3>

    <form action="{% url 'bottler:predict' %}" method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <p>画像を選択テスト</p>
            <div class="custom-file">
                {{ form.image }}
                <label class="custom-file-label" for="customFile">
                    推定したいファイルを選択してください
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">推定する</button>
    </form>

    <table class="table mg-top20">
            <thead class="thead-lignt">
              <tr><th>Name</th><th>Link</th></tr>
            </thead>
            <tr><td>詳細</td><td><a href="https://aimaker.io/image/classification/detail/id/3673">リンク</a></td></tr>
          </table>
    

    <!-- -------------------- -->

    <h3 class="mt-4 mb-5 border_bottom">
        IBM Visual Recognitionへのリクエスト
    </h3>
    

    <form action="{% url 'bottler:recog' %}" method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <p>画像を選択</p>
            <div class="custom-file">
                {{ form.image }}
                <label class="custom-file-label" for="customFile">
                    推定したいファイルを選択してください
                </label>
            </div>
        </div>
        <div class="form-group">
            <p>モデルを選択</p>

            <select id="model" name="model" class="form-control">
                <option value='1'>瓶判定</option>
                <option value='0'>default</option>
            </select>

        </div>
        <button type="submit" class="btn btn-primary">推定する</button>
    </form>

    <table class="table mg-top20">
            <thead class="thead-lignt">
              <tr><th>Name</th><th>Link</th></tr>
            </thead>
            <tr><td>詳細</td><td><a href="https://cloud.ibm.com/services/watson-vision-combined/crn:v1:bluemix:public:watson-vision-combined:us-south:a%2f342b4ac190994fcc9c24311e68137d67:406f51eb-c348-4769-a8c7-94339c524be2::">リンク</a></td></tr>
          </table>
</div>
{% endblock %}
